:root {
  --yellow: #fcb72b;
  --light-yellow: #fff4df;
  --blue: #495567;
  --dark-grey: #939caa;
  --darkest-grey: #333a44;
  --light-grey: #e5ecf4;
  --snow: #f2f5f9;

  --space-mono: 'Space mono', monospace;
  --lexend-deca: 'Lexend deca', 'sans-serif';

  --title-m: 24px;
  --title-l: 40px;
  --title-xl: 48px;
  --title-xxl: 56px;

  --line-height-s: 25px;
  --line-height-m: 28px;
  --line-height-l: 48px;
  --line-height-xl: 56px;

  --text-m: 15px;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3 {
  font-family: var(--space-mono);
}

body {
  margin: 0;
  font-family: var(--lexend-deca);
}

div {
  position: relative;
  margin-bottom: 40px;
}

.title-xxl {
  font-size: var(--title-xxl);
}

.title-xl {
  font-size: var(--title-xl);
}
.title-l {
  font-size: var(--title-l);
}
.title-s {
  font-size: var(--title-s);
}

.text {
  font-size: var(--text-m);
  line-height: var(--line-height-s);
}

.image {
  position: relative;
  border-radius: 50%;
  z-index: -1;
}

.arrow-1 {
  padding-inline: 32px;
  background-image: url(../assets/patterns/left-downward-arrow.svg);
  background-repeat: no-repeat;
  background-position: 32px 150px;
}

.arrow-2 {
  padding-inline: 32px;
  background-image: url(../assets/patterns/right-arrow.svg);
  background-repeat: no-repeat;
  background-position: -150px 0;
}

.arrow-3 {
  padding-inline: 32px;
  background-image: url(../assets/patterns/left-downward-arrow.svg);
  background-repeat: no-repeat;
  background-position: 150px 0;
}

.arrow-4 {
  padding-inline: 32px;
  background-image: url(../assets/patterns/left-upward-arrow.svg);
  background-repeat: no-repeat;
  background-position: 32px 150px;
}

.arrow-5 {
  padding-inline: 32px;
  background-image: url(../assets/patterns/right-arrow.svg);
  background-repeat: no-repeat;
  background-position: -125px 0;
}

@media screen and (width>=768px) {
  .circle-right::after,
  .circle-left::after {
    content: '';
    position: absolute;
    right: 0;
    width: 445px;
    height: 445px;
    background-image: url(../assets/patterns/circle.svg);
    background-repeat: no-repeat;
    background-position: 350px 0;
  }

  .circle-left::after {
    left: 0;
    background-position: -350px 0;
  }
}
.circle-right .button {
  width: 180px;
  line-height: 25px;
  padding-block: 14px;
  background-color: var(--yellow);
  border: none;
  color: var(--snow);
}

.circle-with-number {
  position: relative;
}

.number-image {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 68px;
  bottom: -48px;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background-color: var(--yellow);
  font-size: 24px;
  font-family: var(--space-mono);
  font-weight: 700;
}
